@page "/"
<div class="row">

    <SplitArea GutterSize="10">
        <SplitPane CssClass="card" Size="50" MinSize="300">
            Hej
        </SplitPane>
        <SplitPane CssClass="card" MinSize="300">
            Hej
        </SplitPane>
        <SplitPane CssClass="card" MinSize="300">
            <SplitArea GutterSize="10" Direction="Models.SplitDirection.Vertical">
                <SplitPane CssClass="card" Size="50">
                    A
                </SplitPane>
                <SplitPane CssClass="card">
                    B
                </SplitPane>
            </SplitArea>
        </SplitPane>
    </SplitArea>
</div>
@*<div class="row mt-5" style="height: 50%;">
    <SplitArea GutterSize="10" Direction="Models.SplitDirection.Vertical">
        <SplitPane CssClass="card" Size="50">
            Hej
        </SplitPane>
        <SplitPane CssClass="card">
            Hej
        </SplitPane>
        <SplitPane CssClass="card">
            Hej
        </SplitPane>
    </SplitArea>
</div>*@
